.promo {
  min-height: 100vh;
  position: relative;
  background: url("../img/main_bg1.jpg") no-repeat 50%/cover;
  padding: 205px 0 0 0;

  &__title {
    width: 535px;
    margin-top: 10px;
  }

  &__subtitle {
    position: relative;
    padding-left: 10px;
    @include before_circle;
    z-index: 2;
  }

  &__btns {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;

  }
  &_btn-white {
    transition: all .2s linear;
    &:hover {
      background-color: #fff;
    }
  }

  &__link {
    color: #ffffff;
    font-weight: 700;

    &:hover {
      color: $main-color;
      text-decoration: none;
    }
  }
}