.skills {
  padding-top: 125px;

  &__title {
    text-align: center;
    position: relative;
    @include before_circle;

    &:before {
      top: -6px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__subtitle {
    text-align: center;
  }

  &__wrapper {
    padding: 60px 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, minmax(270px, auto));
    grid-auto-rows: minmax(270px, auto);
    column-gap: 13px;
    row-gap: 13px;
  }

  &__item {
    border: 1px solid #000000;
    border-radius: 7px;
    padding: 30px 30px 25px 30px;
    display: flex;
    flex-direction: column;

    &_img {
      min-height: 65px;
      display: flex;
    }

    img {
      display: block;
      max-width: 100%;
    }

    &_title {
      margin-top: 20px;
    }

    &__descr {
      margin-top: 15px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__bar {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, minmax(70px, auto));
    grid-auto-rows: minmax(70px, auto);
    column-gap: 45px;
    row-gap: 30px;
    margin: 120px auto 0 auto;

    &__item {
      &-header {
        display: flex;
        justify-content: space-between;
        padding-top: 8px;
        position: relative;
      }

      &-title {
        padding-left: 13px;
        @include before_circle;

        &:before {
          top: 0;
        }
      }

      &-footer {
        width: 100%;
        height: 14px;
        background-color: #E8E4DE;
        margin-top: 27px;
        border: none;
        border-radius: 4px;

        div {
          width: 0%;
          height: 100%;
          border: none;
          border-radius: 4px;
          background-color: $main-color;
        }
      }
    }
  }
}